.center-image {
    display: flex;
    justify-content: center;
    border-radius: 200px;
}

body {
    background-image: url(R.jpg) ;
}

.myname {
    background-color: rgba(255, 255, 255, 0.557); /* Black w/opacity/see-through */
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 3px solid #000000;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-style: outset;
    
}

.hr {
  margin-top: 115px;
 
}

img {
    font-size:larger;
}

.top {
    border-radius: 100px;
}

.bottom {
    border-radius: 100px;
}

.bella{
    display: flex;
    justify-content: space-around;
    position: relative;
    animation: animation 3s ease-out infinite alternate;
  }

#slide-in {
    text-align: center;
    color: #fff;
  }

@keyframes animation {
    0% {
      opacity: 0;
      left: -100px;
    }

    100% {
      opacity: 1;
      left: 0;
    }
}

h3 {
    color:rgb(0, 0, 0);
    font-size:1.8rem ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: outset;
    border-inline-end-color: rgb(0, 0, 0, 0.233);
    border-inline-start-color: rgba(0, 0, 0, 0.233);
    font-variant: small-caps;
    background-color: rgba(127, 255, 212, 0.712);
}

p {
    color: rgb(255, 255, 255);
    font-size:1.3rem ;
    font-weight: bold;
    font-variant: small-caps;
    border-style: outset;
    border-inline-end-color: rgb(0, 0, 0, 0.233);
    border-inline-start-color: rgba(0, 0, 0, 0.233);
    font-variant: small-caps;
    background-color: rgb(12, 105, 43);
}

.s {
    display: flex;
    justify-content: space-around;
}

div.fading {
    display: flex;
    justify-content: center;
    animation: FadeInOut 4s infinite alternate;
 }

@keyframes FadeInOut {
    0% {opacity:1;}
    5% {opacity:.95;}
    10% {opacity: 0.9;}
    15% {opacity: 0.85;}
    20% {opacity: 0.8;}
    25% {opacity:.75;}
    30% {opacity: 0.7;}
    35% {opacity: 0.65;}
    40% {opacity:.6;}
    45% {opacity: 0.55;}
    50% {opacity:.5;}
    55% {opacity: 0.45;}
    60% {opacity: 0.4;}
    65% {opacity: 0.35;}
    70% {opacity: 0.3;}
    75% {opacity:.25;}
    80% {opacity: 0.2;}
    85% {opacity: 0.15;}
    90% {opacity:.1;}
    95% {opacity: 0.15;}
    100% {opacity: 0;}
  }

.center-box2 {
    display: flex;
    justify-content: center;
    margin-top: -200px;
}

.belopanda{
    margin-left: -220px;
    margin-top: +40px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.colore {
  animation: color-change 3.5s linear 2s infinite alternate;
}
  
  @keyframes color-change {
    0%   {color:rgb(255, 0, 0);}
    25%  {color:rgb(255, 238, 0);}
    50%  {color:rgb(0, 255, 60)}
    75%  {color:rgb(0, 221, 255)}
    100% {color:rgb(0, 42, 255)}
}

.center-link {
    margin-left: -235px;
    margin-top: -28px;
}
